@font-face {
  font-family: 'Norwester';
  src: url('../fonts/norwester.eot'); /* IE9 Compat Modes */
  src: url('../fonts/norwester.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/norwester.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/norwester.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/norwester.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.logo, h1 {
  font-family: 'Norwester', Fallback, sans-serif;
}

#HostedPaymentsV3{
	margin: 0 auto;
	display: table;
}